
.Score{
  width: 30%;

}

h1 {
  margin:auto;
  text-align: center;
}

.score-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 10px;
  margin: auto;
  padding: 5px;
}
.score-table thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 100px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.score-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 100px;
  text-shadow: 1px 1px 1px #fff;
}