.Ranking{
  width: 40%;
  height: auto;
  border-radius:10px; 
  border:2px solid rgb(255, 255, 255);
  padding:6px 0px;
  background: white;
}

.Ranking-content{
  width: 90%;
  height: 400px;
  background: white;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 20px;
}

.img top{
    height: 70px;
    text-align: center;
  }

.ranking-table {
  margin: auto;
  padding: 10px;
}